/*Google font - Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
body{
    
    background-color: #E5E5E5;
}
.main{
    background-color: #fff;
    padding: 2em;
    width: 50%;
    align-items: center;
   margin: 2rem auto;
    justify-content: center;
}
.logo{
    margin: 2em;
}
 .main .header{
    background-color: #F27A5F;
    font-weight : 900;
    display: flex;
    padding: 0 20px ;
    margin: 0.5rem auto;
    text-align: justify;
    justify-content: space-between;
    color: #fff;
    font-size: 10vh;
    text-align: center;
    align-items: center;
    width: 45vw;
    height: fit-content;
    border-radius: 12px;
    position: relative;
    background: cover;
}
.main .header h1{
    font-size: 2.2rem;
    padding: 3rem;
    font-weight: 700;
}
div.bike img{
    height: 20vh;
    position: relative;
    width: 100%;
}
.text{
    margin: 1.5rem;
    padding: 0.5rem;

}
.text .hello, .hello{
    font-weight: 600;
    padding: 2rem 0;
    color: #000;
}
.main .footer {
   text-align: center;
   text-decoration: none;
   margin: 2rem;
}
.main .footer a:not(.span){
    text-decoration: none;
    color: #d97708;
    margin: 0 1em;
    font-weight: 500;
}
.footer a:hover{
    font-size: larger ;
}
.main .footer p{
    margin: 1rem;
}
.footer .small{
    font-size: 12px;
}
.footer p:not(.app), .footer p:not(.app), .span {
    font-size: 15px;
    color: #687083;
}
.main .footer .span{

}
.main .button{
    color: #fff;
    background-color: #d97708;
    border-radius: 50px;
    height: fit-content;
    width: 8rem;
    padding: 1rem;
   margin: auto 0;
   border: #d97708;
   transition-duration: 0.1s;
}
.main .button:hover{
    font-weight: 700;
    width: 9rem;
}
.address .deli{
    margin: 2rem -1rem;
}
.address{
    margin-left: 3rem;
}
.address p{
    padding: 5px;
    color: #687083;
}
table{
    width: 100%;
    margin: 1rem;
}
table td, table th,table tr{
    margin: 5rem;
    text-align: start;
    padding: 20px;
}
th{
    text-transform: uppercase;
    font-size: 0.9rem;
}
td{
    font-size: 16px;
  
}
.flex, p.flex {
    display: flex;
    color: #d97708;
    align-self: flex-end;
    justify-content: flex-end;
    margin-top: 10px;
}
h1.flex{
    font-weight: 800;
    font-size: 1.5rem;
}
div.number{
    letter-spacing: 1rem;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    color: #687083;
    opacity: 0.45;
}
.span{
    color: #d97708;
}

/*Responsiveness*/
/* On screens that are 600px or less */
@media screen and (max-width: 992px) {
    .main{
        padding: 0.5em;
        width: 80%;
        align-items: center;
       margin: 0.5rem auto;
    }
    .main .header{
        font-weight : 600;
        padding: 0 10px ;
        margin: 0.5rem auto;
        font-size: 2rem;
        width: 65vw;
        height: auto;
        border-radius: 12px;
    }
   
    .text .hello, .hello {
        padding: 0.5rem 0 1rem 0;
      }
      
  }
  
  /* On screens that are 600px or less */
  @media screen and (max-width: 600px) {
    *{
        font-size: 1rem;
    }
    logo {
        margin: 1em;
    }
    .main .header h1 {
        font-size: 1.5rem;
        padding: 1rem;
        font-weight: 700;
    }
    .text{
        margin: 0;
    }
    .text .hello, .hello {
        padding: 1rem 0;
    }
   
  }
  